In [1]:
import os
import psycopg2
import xarray as xr
import numpy as np
import pandas as pd
import polars as pl
from shapely.geometry import Polygon
from shapely import wkb
import psycopg2
from psycopg2.extras import execute_values
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
from dotenv import load_dotenv
from datetime import datetime
import time

# import logging
# logging.basicConfig(level=logging.DEBUG, filename='woa23_debug.log', filemode='a', format='%(asctime)s - %(levelname)s : %(message)s', datefmt='%m/%d/%Y %I:%M:%S %p')
# logger = logging.getLogger()

In [2]:
load_dotenv()
DBUSER = os.getenv('DBUSER')
DBPASS = os.getenv('DBPASS')
DBHOST = os.getenv('DBHOST')
DBPORT = os.getenv('DBPORT')
DBNAME = os.getenv('DBNAME')
GRIDSET = os.getenv('GRIDSET')
TIMESET = os.getenv('TIMESET')
PARAMSET = os.getenv('PARAMSET')
# print(PARAMSET)
pars = [c.strip() for c in PARAMSET.split(',')] # if c.strip() in available_params]))
time_periods = [p.strip() for p in str(TIMESET).split(',')]
grids = [g.strip() for g in str(GRIDSET).split(',')]
db_settings = {
    'dbname': DBNAME,
    'user': DBUSER,
    'password': DBPASS,
    'host': DBHOST,
    'port': DBPORT,
    'options': "-c statement_timeout=0",
    'keepalives': 1,
    'keepalives_idle': 30,  # Number of seconds of inactivity after which a keepalive message is sent
    'keepalives_interval': 10,  # Number of seconds between keepalive messages when no response is received
    'keepalives_count': 5  # Number of attempts before concluding the connection is dead

}

# Function to establish connection to PostgreSQL
def connect_db(settings):
    conn = psycopg2.connect(**settings)
    conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
    return conn

print(grids, pars, time_periods)

['04'] ['TS'] ['monthly']

In [3]:
# Function to create TS table in PostGIS
# When try grd025_annual_ts use temperature FLOAT8, salinity FLOAT8,
def create_ts_table(conn, table_name, parameter_set):
    with conn.cursor() as cur:
        columns = ", ".join([f"{param} FLOAT" for param in parameter_set])
        create_table_query = f"""
        CREATE TABLE IF NOT EXISTS {table_name} (
            lon FLOAT,
            lat FLOAT,
            depth INTEGER,
            time_period INTEGER,
            {columns},
            geom GEOMETRY
        );
        """
        cur.execute(create_table_query)
        
        index_geom = f"CREATE INDEX idx_{table_name}_geom ON {table_name} USING GIST (geom);"
        index_depth = f"CREATE INDEX idx_{table_name}_depth ON {table_name} (depth);"
        index_time_period = f"CREATE INDEX idx_{table_name}_time_period ON {table_name} (time_period);"

        cur.execute(index_geom)
        cur.execute(index_depth)
        cur.execute(index_time_period)

In [4]:
# Test read zarr dataset
zarr_store_path = '../data/025_degree/annual/TS'
res = '04'  # '04' for 0.25-degree, '01' for 1-degree
ds = xr.open_zarr(zarr_store_path, consolidated=False)
# print(ds)

In [4]:
# Function to generate geom for PostGIS using the grid structure
def generate_grid_polygon(lon, lat, res):
    step = 0.25 if res == '04' else 1.0
    lon_min = lon - step / 2
    lon_max = lon + step / 2
    lat_min = lat - step / 2
    lat_max = lat + step / 2
    return Polygon([(lon_min, lat_min), (lon_min, lat_max), (lon_max, lat_max), (lon_max, lat_min), (lon_min, lat_min)])

def sanitize_value(value):
    """Convert 'NaN' or 'None' to None to handle as NULL in PostgreSQL."""
    if value is None:  # Handle Python's None
        return None
    try:
        # Check if the value is NaN
        if np.isnan(value):
            return None
    except TypeError:
        # If the value is not numeric, it's fine to return it as-is
        pass
    return value

In [6]:
grid_db = {'01': 'grd1', '04': 'grd025'}  # Two gridded resolutions data: 1-degree and 0.25-degree in WOA23
grid_dir = {'01': '1_degree', '04': '025_degree'}

In [ ]:
def insert_into_postgis_sequentially(conn, table_name, data, parameter_set, res, batch_size=100000):
    cur = conn.cursor()
    count = 0
    #with conn.cursor() as cur:
    if True:
        for time_idx in range(data.dims['time_periods']):
            for depth_idx in range(data.dims['depth']):
                for lat_idx in range(data.dims['lat']):
                    for lon_idx in range(data.dims['lon']):
                        lon = float(data['lon'].data[lon_idx])
                        lat = float(data['lat'].data[lat_idx])
                        depth = int(data['depth'].data[depth_idx])
                        period = int(data['time_periods'].data[time_idx])

                        # Prepare values for all parameters in the parameter_set
                        values = []
                        for param in parameter_set:
                            values.append(float(data['mn'].sel(parameters=param).data[time_idx, depth_idx, lat_idx, lon_idx]))

                        # Check if all values are NaN; if so, skip the row
                        if all(np.isnan(v) for v in values):
                            continue

                        geom = generate_grid_polygon(lon, lat, res)
                        geom_wkb = wkb.dumps(geom, hex=True)

                        # Dynamically create the query string
                        query = f"""
                        INSERT INTO {table_name} (lon, lat, depth, time_period, {', '.join(parameter_set)}, geom)
                        VALUES (%s, %s, %s, %s, {', '.join(['%s'] * len(parameter_set))}, ST_SetSRID(%s::geometry, 4326));
                        """

                        cur.execute(query, (lon, lat, depth, period, *values, geom_wkb))
                        count += 1

                        if count % batch_size == 0:
                            conn.commit()  # Commit every batch_size records

In [16]:
def insert_into_postgis(conn, table_name, data, parameter_set, res, start_depth_idx=0, batch_size=5000):
    cur = conn.cursor()
    batch = []
    total_records = data.dims['time_periods'] * data.dims['depth'] * data.dims['lat'] * data.dims['lon']
    processed_records = 0
    start_time = datetime.now()
    
    forceInitTime = 1
    forceMaxDepth = 12
    forceTerminate = False

    for time_idx in range(data.dims['time_periods']):
        if forceTerminate:
            break
        if time_idx < forceInitTime:
            continue
        print(f"Processing time_idx: {time_idx}, {int(data['time_periods'].data[time_idx])}")
        for depth_idx in range(start_depth_idx, data.dims['depth']):
            if depth_idx > forceMaxDepth:
                forceTerminate = True
                break
            for lat_idx in range(data.dims['lat']):
                for lon_idx in range(data.dims['lon']):
                    lon = float(data['lon'].data[lon_idx])
                    lat = float(data['lat'].data[lat_idx])
                    depth = int(data['depth'].data[depth_idx])
                    period = int(data['time_periods'].data[time_idx])

                    # Prepare values for all parameters in the parameter_set
                    values = [
                        sanitize_value(float(data['mn'].sel(parameters=param).data[time_idx, depth_idx, lat_idx, lon_idx]))
                        for param in parameter_set
                    ]

                    # Check if all values are None (formerly NaN); if so, skip the row
                    if all(v is None for v in values):
                        continue

                    geom = generate_grid_polygon(lon, lat, res)
                    geom_wkb = wkb.dumps(geom, hex=True)

                    # Add the row to the batch
                    batch.append((lon, lat, depth, period, *values, geom_wkb))
                    processed_records += 1

                    if (processed_records == 1 or processed_records % 1000 == 0):
                        end_time = datetime.now()
                        print(f"In lon, lat, depth, time_period: {lon}, {lat}, {depth}, {period}, query records: {processed_records} with {(end_time - start_time).total_seconds()} seconds")
                        print(f"Values are: {values}", flush=True)
                        start_time = end_time

                    # Insert and commit in batches
                    if len(batch) >= batch_size:
                        psycopg2.extras.execute_values(cur, f"""
                        INSERT INTO {table_name} (lon, lat, depth, time_period, {', '.join(parameter_set)}, geom)
                        VALUES %s;
                        """, batch, template=None, page_size=batch_size)
                        conn.commit()
                        batch.clear()  # Clear the batch after committing

    # Commit any remaining rows
    if batch:
        psycopg2.extras.execute_values(cur, f"""
        INSERT INTO {table_name} (lon, lat, depth, time_period, {', '.join(parameter_set)}, geom)
        VALUES %s;
        """, batch, template=None, page_size=batch_size)
        conn.commit()

#    cur.close()

In [24]:
def insert_into_postgis_test(conn, table_name, data, parameter_set, res, start_depth_idx=0, batch_size=5000):
    cur = conn.cursor()
    batch = []
    total_records = data.dims['time_periods'] * data.dims['depth'] * data.dims['lat'] * data.dims['lon']
    processed_records = 0
    count = 0
    start_time = datetime.now()

    forceInitTime = 1
    forceMaxDepth = 12
    forceTerminate = False

    for time_idx in range(data.dims['time_periods']):
        if forceTerminate:
            break
        if time_idx < forceInitTime:
            continue
        print(f"Processing time_idx: {time_idx}, {int(data['time_periods'].data[time_idx])}")
        for depth_idx in range(start_depth_idx, data.dims['depth']):
            if depth_idx > forceMaxDepth:
                forceTerminate = True
                break
            for lat_idx in range(data.dims['lat']):
                for lon_idx in range(data.dims['lon']):
                    lon = float(data['lon'].data[lon_idx])
                    lat = float(data['lat'].data[lat_idx])
                    depth = int(data['depth'].data[depth_idx])
                    period = int(data['time_periods'].data[time_idx])

                    # Prepare values for all parameters in the parameter_set
                    values = []
                    for param in parameter_set:
                        values.append(float(data['mn'].sel(parameters=param).data[time_idx, depth_idx, lat_idx, lon_idx]))

                    end1_time = datetime.now()
                    check_all_na = all(np.isnan(v) for v in values)
                    if (count == 1 or count % 1000 == 0):
                        print(f"Step1 took {(end1_time - start_time).total_seconds()} seconds and values are all NaN: {check_all_na}")
                        print(f"Data status: {lon} {lat} {depth} {period} {values}")

                    # Skip rows with all NaN values
                    if check_all_na:
                        count += 1
                        continue

                    geom = generate_grid_polygon(lon, lat, res)
                    geom_wkb = wkb.dumps(geom, hex=True)
                    end2_time = datetime.now()

                    batch.append((lon, lat, depth, period, *values, f'ST_SetSRID(\'{geom_wkb}\'::geometry, 4326)'))
                    end3_time = datetime.now()
                    processed_records += 1
                    count += 1

                    if (processed_records == 1 or processed_records % 1000 == 0):
                        end_time = datetime.now()
                        print(f"Time taken to handle query records: {processed_records} with {(end_time - start_time).total_seconds()} seconds")
                        print(f"Each step took {(end1_time - start_time).total_seconds()}, {(end2_time - end1_time).total_seconds()}, {(end3_time - end2_time).total_seconds()} seconds")
                        start_time = end_time

                    # Insert and commit in batches
                    if len(batch) >= batch_size:
                        psycopg2.extras.execute_values(cur, f"""
                        INSERT INTO {table_name} (lon, lat, depth, time_period, {', '.join(parameter_set)}, geom)
                        VALUES %s;
                        """, batch, page_size=batch_size)
                        conn.commit()
                        batch.clear()  # Clear the batch after committing

                        # Print progress
                        print(f"Inserted {processed_records}/{total_records} records. Time: {time.ctime()}")

    # Insert any remaining data
    if batch:
        psycopg2.extras.execute_values(cur, f"""
        INSERT INTO {table_name} (lon, lat, depth, time_period, {', '.join(parameter_set)}, geom)
        VALUES %s;
        """, batch, page_size=batch_size)
        conn.commit()
        print(f"Final insertion completed. Total records inserted: {processed_records}. Time: {time.ctime()}")

In [7]:
if True: #__name__ == '__main__' #only Test
    res = grids[0]  # '04' for 0.25-degree, '01' for 1-degree
    print("Test res, pars", res, grids, pars)

    zarr_store_path = f"../data/{grid_dir[res]}/{time_periods[0]}/{pars[0]}"
    table_name = f"{grid_db[res]}_{time_periods[0]}_{pars[0]}"
    if res == '04' or pars == 'TS':
        parameter_set = ['temperature', 'salinity']  # For TS subgroup
    elif pars[0] == 'Oxy': 
        parameter_set = ['oxygen', 'o2sat', 'AOU']
    else:
        parameter_set = ['silicate', 'phosphate', 'nitrate']        

print("Test table name and parameter_set", table_name, parameter_set)

Test res, pars 04 ['04'] ['TS']
Test table name and parameter_set grd025_monthly_TS ['temperature', 'salinity']

In [8]:
data = xr.open_zarr(zarr_store_path, consolidated=False)
print(data.dims['depth'])

57

/tmp/ipykernel_178812/2213152494.py:2: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  print(data.dims['depth'])

In [9]:
print(data)

<xarray.Dataset> Size: 57GB
Dimensions:       (time_periods: 12, parameters: 2, depth: 57, lat: 720,
                   lon: 1440)
Coordinates:
  * depth         (depth) float32 228B 0.0 5.0 10.0 ... 1.4e+03 1.45e+03 1.5e+03
  * lat           (lat) float32 3kB -89.88 -89.62 -89.38 ... 89.38 89.62 89.88
  * lon           (lon) float32 6kB -179.9 -179.6 -179.4 ... 179.4 179.6 179.9
  * parameters    (parameters) <U11 88B 'temperature' 'salinity'
  * time_periods  (time_periods) <U2 96B '1' '2' '3' '4' ... '9' '10' '11' '12'
Data variables:
    an            (time_periods, parameters, depth, lat, lon) float32 6GB dask.array<chunksize=(1, 1, 8, 90, 360), meta=np.ndarray>
    dd            (time_periods, parameters, depth, lat, lon) float32 6GB dask.array<chunksize=(1, 1, 8, 90, 360), meta=np.ndarray>
    gp            (time_periods, parameters, depth, lat, lon) float32 6GB dask.array<chunksize=(1, 1, 8, 90, 360), meta=np.ndarray>
    ma            (time_periods, parameters, depth, lat, lon) float32 6GB dask.array<chunksize=(1, 1, 8, 90, 360), meta=np.ndarray>
    mn            (time_periods, parameters, depth, lat, lon) float32 6GB dask.array<chunksize=(1, 1, 8, 90, 360), meta=np.ndarray>
    oa            (time_periods, parameters, depth, lat, lon) float32 6GB dask.array<chunksize=(1, 1, 8, 90, 360), meta=np.ndarray>
    sd            (time_periods, parameters, depth, lat, lon) float32 6GB dask.array<chunksize=(1, 1, 8, 90, 360), meta=np.ndarray>
    sdo           (time_periods, parameters, depth, lat, lon) float32 6GB dask.array<chunksize=(1, 1, 8, 90, 360), meta=np.ndarray>
    se            (time_periods, parameters, depth, lat, lon) float32 6GB dask.array<chunksize=(1, 1, 8, 90, 360), meta=np.ndarray>
    sea           (time_periods, parameters, depth, lat, lon) float32 6GB dask.array<chunksize=(1, 1, 8, 90, 360), meta=np.ndarray>

In [10]:
print(data['depth'])

<xarray.DataArray 'depth' (depth: 57)> Size: 228B
array([   0.,    5.,   10.,   15.,   20.,   25.,   30.,   35.,   40.,   45.,
         50.,   55.,   60.,   65.,   70.,   75.,   80.,   85.,   90.,   95.,
        100.,  125.,  150.,  175.,  200.,  225.,  250.,  275.,  300.,  325.,
        350.,  375.,  400.,  425.,  450.,  475.,  500.,  550.,  600.,  650.,
        700.,  750.,  800.,  850.,  900.,  950., 1000., 1050., 1100., 1150.,
       1200., 1250., 1300., 1350., 1400., 1450., 1500.], dtype=float32)
Coordinates:
  * depth    (depth) float32 228B 0.0 5.0 10.0 15.0 ... 1.4e+03 1.45e+03 1.5e+03

In [11]:
print(data['time_periods'])

<xarray.DataArray 'time_periods' (time_periods: 12)> Size: 96B
array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
      dtype='<U2')
Coordinates:
  * time_periods  (time_periods) <U2 96B '1' '2' '3' '4' ... '9' '10' '11' '12'

In [12]:
print(float(data['mn'].sel(parameters='temperature').data[0, 3, 60, 60]))
print(float(data['mn'].sel(parameters='temperature').data[0, 3, 200, 100]))

nan
18.777061462402344

In [ ]:
#for time_idx in range(data.dims['time_periods']):
#    print(time_idx)
#    print(int(data['time_periods'].data[time_idx]))

In [12]:
print(data.coords['time_periods'].data)

['13' '14' '15' '16']

In [3]:
conn = connect_db(db_settings)

In [18]:
if True:
            time_idx = 1
            depth_idx = 3
            depth = int(data['depth'].data[depth_idx])
            period = int(data['time_periods'].data[time_idx])

            # Load a chunk (all lat/lon for the current depth and time period)
            chunk = data['mn'].isel(time_periods=time_idx, depth=depth_idx).load()
            lon_vals = data['lon'].data
            lat_vals = data['lat'].data
            print(chunk)
            print(lon_vals)
            print(lat_vals)
            
            # Prepare a DataFrame
            df = pd.DataFrame({
                'lon': np.tile(lon_vals, len(lat_vals)),
                'lat': np.repeat(lat_vals, len(lon_vals)),
                'depth': depth,
                'time_period': period,
            })

            # Add parameter values to the DataFrame with sanitization
            for param in parameter_set:
                param_values = chunk.sel(parameters=param).values.flatten()
                df[param] = [sanitize_value(v) for v in param_values]

            # Drop rows where all parameter values are None
            df = df.dropna(subset=parameter_set, how='all')

            # Add geometry as WKB
            df['geom'] = df.apply(
                lambda row: wkb.dumps(generate_grid_polygon(row['lon'], row['lat'], res), hex=True),
                axis=1
            )

            # Convert DataFrame to a list of tuples for batch insertion
            rows = df.to_records(index=False).tolist()

<xarray.DataArray 'mn' (parameters: 2, lat: 720, lon: 1440)> Size: 8MB
array([[[nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        ...,
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan]],

       [[nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        ...,
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan]]], dtype=float32)
Coordinates:
    depth         float32 4B 15.0
  * lat           (lat) float32 3kB -89.88 -89.62 -89.38 ... 89.38 89.62 89.88
  * lon           (lon) float32 6kB -179.9 -179.6 -179.4 ... 179.4 179.6 179.9
  * parameters    (parameters) <U11 88B 'temperature' 'salinity'
    time_periods  <U2 8B '2'
[-179.875 -179.625 -179.375 ...  179.375  179.625  179.875]
[-89.875 -89.625 -89.375 -89.125 -88.875 -88.625 -88.375 -88.125 -87.875
 -87.625 -87.375 -87.125 -86.875 -86.625 -86.375 -86.125 -85.875 -85.625
 -85.375 -85.125 -84.875 -84.625 -84.375 -84.125 -83.875 -83.625 -83.375
 -83.125 -82.875 -82.625 -82.375 -82.125 -81.875 -81.625 -81.375 -81.125
 -80.875 -80.625 -80.375 -80.125 -79.875 -79.625 -79.375 -79.125 -78.875
 -78.625 -78.375 -78.125 -77.875 -77.625 -77.375 -77.125 -76.875 -76.625
 -76.375 -76.125 -75.875 -75.625 -75.375 -75.125 -74.875 -74.625 -74.375
 -74.125 -73.875 -73.625 -73.375 -73.125 -72.875 -72.625 -72.375 -72.125
 -71.875 -71.625 -71.375 -71.125 -70.875 -70.625 -70.375 -70.125 -69.875
 -69.625 -69.375 -69.125 -68.875 -68.625 -68.375 -68.125 -67.875 -67.625
 -67.375 -67.125 -66.875 -66.625 -66.375 -66.125 -65.875 -65.625 -65.375
 -65.125 -64.875 -64.625 -64.375 -64.125 -63.875 -63.625 -63.375 -63.125
 -62.875 -62.625 -62.375 -62.125 -61.875 -61.625 -61.375 -61.125 -60.875
 -60.625 -60.375 -60.125 -59.875 -59.625 -59.375 -59.125 -58.875 -58.625
 -58.375 -58.125 -57.875 -57.625 -57.375 -57.125 -56.875 -56.625 -56.375
 -56.125 -55.875 -55.625 -55.375 -55.125 -54.875 -54.625 -54.375 -54.125
 -53.875 -53.625 -53.375 -53.125 -52.875 -52.625 -52.375 -52.125 -51.875
 -51.625 -51.375 -51.125 -50.875 -50.625 -50.375 -50.125 -49.875 -49.625
 -49.375 -49.125 -48.875 -48.625 -48.375 -48.125 -47.875 -47.625 -47.375
 -47.125 -46.875 -46.625 -46.375 -46.125 -45.875 -45.625 -45.375 -45.125
 -44.875 -44.625 -44.375 -44.125 -43.875 -43.625 -43.375 -43.125 -42.875
 -42.625 -42.375 -42.125 -41.875 -41.625 -41.375 -41.125 -40.875 -40.625
 -40.375 -40.125 -39.875 -39.625 -39.375 -39.125 -38.875 -38.625 -38.375
 -38.125 -37.875 -37.625 -37.375 -37.125 -36.875 -36.625 -36.375 -36.125
 -35.875 -35.625 -35.375 -35.125 -34.875 -34.625 -34.375 -34.125 -33.875
 -33.625 -33.375 -33.125 -32.875 -32.625 -32.375 -32.125 -31.875 -31.625
 -31.375 -31.125 -30.875 -30.625 -30.375 -30.125 -29.875 -29.625 -29.375
 -29.125 -28.875 -28.625 -28.375 -28.125 -27.875 -27.625 -27.375 -27.125
 -26.875 -26.625 -26.375 -26.125 -25.875 -25.625 -25.375 -25.125 -24.875
 -24.625 -24.375 -24.125 -23.875 -23.625 -23.375 -23.125 -22.875 -22.625
 -22.375 -22.125 -21.875 -21.625 -21.375 -21.125 -20.875 -20.625 -20.375
 -20.125 -19.875 -19.625 -19.375 -19.125 -18.875 -18.625 -18.375 -18.125
 -17.875 -17.625 -17.375 -17.125 -16.875 -16.625 -16.375 -16.125 -15.875
 -15.625 -15.375 -15.125 -14.875 -14.625 -14.375 -14.125 -13.875 -13.625
 -13.375 -13.125 -12.875 -12.625 -12.375 -12.125 -11.875 -11.625 -11.375
 -11.125 -10.875 -10.625 -10.375 -10.125  -9.875  -9.625  -9.375  -9.125
  -8.875  -8.625  -8.375  -8.125  -7.875  -7.625  -7.375  -7.125  -6.875
  -6.625  -6.375  -6.125  -5.875  -5.625  -5.375  -5.125  -4.875  -4.625
  -4.375  -4.125  -3.875  -3.625  -3.375  -3.125  -2.875  -2.625  -2.375
  -2.125  -1.875  -1.625  -1.375  -1.125  -0.875  -0.625  -0.375  -0.125
   0.125   0.375   0.625   0.875   1.125   1.375   1.625   1.875   2.125
   2.375   2.625   2.875   3.125   3.375   3.625   3.875   4.125   4.375
   4.625   4.875   5.125   5.375   5.625   5.875   6.125   6.375   6.625
   6.875   7.125   7.375   7.625   7.875   8.125   8.375   8.625   8.875
   9.125   9.375   9.625   9.875  10.125  10.375  10.625  10.875  11.125
  11.375  11.625  11.875  12.125  12.375  12.625  12.875  13.125  13.375
  13.625  13.875  14.125  14.375  14.625  14.875  15.125  15.375  15.625
  15.875  16.125  16.375  16.625  16.875  17.125  17.375  17.625  17.875
  18.125  18.375  18.625  18.875  19.125  19.375  19.625  19.875  20.125
  20.375  20.625  20.875  21.125  21.375  21.625  21.875  22.125  22.375
  22.625  22.875  23.125  23.375  23.625  23.875  24.125  24.375  24.625
  24.875  25.125  25.375  25.625  25.875  26.125  26.375  26.625  26.875
  27.125  27.375  27.625  27.875  28.125  28.375  28.625  28.875  29.125
  29.375  29.625  29.875  30.125  30.375  30.625  30.875  31.125  31.375
  31.625  31.875  32.125  32.375  32.625  32.875  33.125  33.375  33.625
  33.875  34.125  34.375  34.625  34.875  35.125  35.375  35.625  35.875
  36.125  36.375  36.625  36.875  37.125  37.375  37.625  37.875  38.125
  38.375  38.625  38.875  39.125  39.375  39.625  39.875  40.125  40.375
  40.625  40.875  41.125  41.375  41.625  41.875  42.125  42.375  42.625
  42.875  43.125  43.375  43.625  43.875  44.125  44.375  44.625  44.875
  45.125  45.375  45.625  45.875  46.125  46.375  46.625  46.875  47.125
  47.375  47.625  47.875  48.125  48.375  48.625  48.875  49.125  49.375
  49.625  49.875  50.125  50.375  50.625  50.875  51.125  51.375  51.625
  51.875  52.125  52.375  52.625  52.875  53.125  53.375  53.625  53.875
  54.125  54.375  54.625  54.875  55.125  55.375  55.625  55.875  56.125
  56.375  56.625  56.875  57.125  57.375  57.625  57.875  58.125  58.375
  58.625  58.875  59.125  59.375  59.625  59.875  60.125  60.375  60.625
  60.875  61.125  61.375  61.625  61.875  62.125  62.375  62.625  62.875
  63.125  63.375  63.625  63.875  64.125  64.375  64.625  64.875  65.125
  65.375  65.625  65.875  66.125  66.375  66.625  66.875  67.125  67.375
  67.625  67.875  68.125  68.375  68.625  68.875  69.125  69.375  69.625
  69.875  70.125  70.375  70.625  70.875  71.125  71.375  71.625  71.875
  72.125  72.375  72.625  72.875  73.125  73.375  73.625  73.875  74.125
  74.375  74.625  74.875  75.125  75.375  75.625  75.875  76.125  76.375
  76.625  76.875  77.125  77.375  77.625  77.875  78.125  78.375  78.625
  78.875  79.125  79.375  79.625  79.875  80.125  80.375  80.625  80.875
  81.125  81.375  81.625  81.875  82.125  82.375  82.625  82.875  83.125
  83.375  83.625  83.875  84.125  84.375  84.625  84.875  85.125  85.375
  85.625  85.875  86.125  86.375  86.625  86.875  87.125  87.375  87.625
  87.875  88.125  88.375  88.625  88.875  89.125  89.375  89.625  89.875]

In [19]:
print(df)

             lon     lat  depth  time_period  temperature   salinity  \
66304   -163.875 -78.375     15            2    -1.524229  33.875549
66305   -163.625 -78.375     15            2    -0.711931  33.986385
67730   -167.375 -78.125     15            2    -2.004463        NaN
67731   -167.125 -78.125     15            2    -1.569681        NaN
67735   -166.125 -78.125     15            2    -1.504463        NaN
...          ...     ...    ...          ...          ...        ...
1029592  178.125  88.625     15            2    -1.585266        NaN
1030996  169.125  88.875     15            2    -1.566424        NaN
1030997  169.375  88.875     15            2    -1.566300        NaN
1031002  170.625  88.875     15            2    -1.567200  28.735386
1031004  171.125  88.875     15            2    -1.567458        NaN

                                                      geom
66304    0103000000010000000500000000000000008064C00000...
66305    0103000000010000000500000000000000007864C00000...
67730    010300000001000000050000000000000000F064C00000...
67731    010300000001000000050000000000000000E864C00000...
67735    010300000001000000050000000000000000C864C00000...
...                                                    ...
1029592  0103000000010000000500000000000000004066400000...
1030996  0103000000010000000500000000000000002065400000...
1030997  0103000000010000000500000000000000002865400000...
1031002  0103000000010000000500000000000000005065400000...
1031004  0103000000010000000500000000000000006065400000...

[262122 rows x 7 columns]

In [32]:
#Polars version
if True:
    # Create Polars DataFrame
    df = pl.DataFrame({
        'lon': np.tile(lon_vals, len(lat_vals)),
        'lat': np.repeat(lat_vals, len(lon_vals)),
        'depth': [depth] * len(lon_vals) * len(lat_vals),
        'time_period': [period] * len(lon_vals) * len(lat_vals),
    })

    # Add parameter values to the Polars DataFrame
    for param in parameter_set:
        param_values = chunk.sel(parameters=param).values.flatten()
        df = df.with_columns(pl.Series(param, [sanitize_value(v) for v in param_values]))

    # Drop rows where all parameter values are None
    df = df.filter(~pl.all_horizontal([df[param].is_null() for param in parameter_set]))

    # Add geometry as WKB
    geom = [
        wkb.dumps(generate_grid_polygon(row[0], row[1], res), hex=True)
        for row in zip(df['lon'].to_numpy(), df['lat'].to_numpy())
    ]
    df = df.with_columns(pl.Series('geom', geom))


    # Convert Polars DataFrame to a list of tuples for batch insertion
    rows = [
        (
            row['lon'], row['lat'], row['depth'], row['time_period'],
            *[row[param] for param in parameter_set], row['geom']
        )
        for row in df.iter_rows(named=True)
    ]

In [28]:
print(df)

shape: (262_122, 7)
┌──────────┬─────────┬───────┬─────────────┬─────────────┬───────────┬─────────────────────────────┐
│ lon      ┆ lat     ┆ depth ┆ time_period ┆ temperature ┆ salinity  ┆ geom                        │
│ ---      ┆ ---     ┆ ---   ┆ ---         ┆ ---         ┆ ---       ┆ ---                         │
│ f32      ┆ f32     ┆ i64   ┆ i64         ┆ f32         ┆ f32       ┆ str                         │
╞══════════╪═════════╪═══════╪═════════════╪═════════════╪═══════════╪═════════════════════════════╡
│ -163.875 ┆ -78.375 ┆ 15    ┆ 2           ┆ -1.524229   ┆ 33.875549 ┆ 010300000001000000050000000 │
│          ┆         ┆       ┆             ┆             ┆           ┆ 000…                        │
│ -163.625 ┆ -78.375 ┆ 15    ┆ 2           ┆ -0.711931   ┆ 33.986385 ┆ 010300000001000000050000000 │
│          ┆         ┆       ┆             ┆             ┆           ┆ 000…                        │
│ -167.375 ┆ -78.125 ┆ 15    ┆ 2           ┆ -2.004463   ┆ null      ┆ 010300000001000000050000000 │
│          ┆         ┆       ┆             ┆             ┆           ┆ 000…                        │
│ -167.125 ┆ -78.125 ┆ 15    ┆ 2           ┆ -1.569681   ┆ null      ┆ 010300000001000000050000000 │
│          ┆         ┆       ┆             ┆             ┆           ┆ 000…                        │
│ -166.125 ┆ -78.125 ┆ 15    ┆ 2           ┆ -1.504463   ┆ null      ┆ 010300000001000000050000000 │
│          ┆         ┆       ┆             ┆             ┆           ┆ 000…                        │
│ …        ┆ …       ┆ …     ┆ …           ┆ …           ┆ …         ┆ …                           │
│ 178.125  ┆ 88.625  ┆ 15    ┆ 2           ┆ -1.585266   ┆ null      ┆ 010300000001000000050000000 │
│          ┆         ┆       ┆             ┆             ┆           ┆ 000…                        │
│ 169.125  ┆ 88.875  ┆ 15    ┆ 2           ┆ -1.566424   ┆ null      ┆ 010300000001000000050000000 │
│          ┆         ┆       ┆             ┆             ┆           ┆ 000…                        │
│ 169.375  ┆ 88.875  ┆ 15    ┆ 2           ┆ -1.5663     ┆ null      ┆ 010300000001000000050000000 │
│          ┆         ┆       ┆             ┆             ┆           ┆ 000…                        │
│ 170.625  ┆ 88.875  ┆ 15    ┆ 2           ┆ -1.5672     ┆ 28.735386 ┆ 010300000001000000050000000 │
│          ┆         ┆       ┆             ┆             ┆           ┆ 000…                        │
│ 171.125  ┆ 88.875  ┆ 15    ┆ 2           ┆ -1.567458   ┆ null      ┆ 010300000001000000050000000 │
│          ┆         ┆       ┆             ┆             ┆           ┆ 000…                        │
└──────────┴─────────┴───────┴─────────────┴─────────────┴───────────┴─────────────────────────────┘

In [22]:
#Testing
import polars as pl
import numpy as np

# Mock data for testing
lon_vals = [-179.875, -179.625, -179.375]
lat_vals = [-89.875, -89.625]
depth = 5
time_period = 2
parameter_set = ['temperature', 'salinity']

# Create mock data with some NaN values
mock_data = {
    'lon': np.tile(lon_vals, len(lat_vals)),
    'lat': np.repeat(lat_vals, len(lon_vals)),
    'depth': [depth] * len(lon_vals) * len(lat_vals),
    'time_period': [time_period] * len(lon_vals) * len(lat_vals),
    'temperature': [None, 10.5, 20.1, np.nan, np.nan, 15.2],
    'salinity': [35.1, 34.5, None, np.nan, 36.0, np.nan]
}

# Create the Polars DataFrame
df = pl.DataFrame(mock_data)

# Print initial DataFrame
print("Original DataFrame:")
print(df)

# Ensure sanitization using a custom sanitize_value function
def sanitize_value(value):
    """Convert 'NaN' or 'None' to None to handle as NULL in PostgreSQL."""
    if value is None:  # Handle Python's None
        return None
    try:
        # Check if the value is NaN
        if np.isnan(value):
            return None
    except TypeError:
        # If the value is not numeric, it's fine to return it as-is
        pass
    return value

# Apply sanitization
df = df.with_columns([
    pl.Series('temperature', [sanitize_value(v) for v in df['temperature']]),
    pl.Series('salinity', [sanitize_value(v) for v in df['salinity']])
])

# Filter out rows where all parameter_set columns are null
df = df.filter(~pl.all_horizontal(pl.col(parameter_set).is_null()))

# Print sanitized DataFrame
print("\nSanitized and Filtered DataFrame:")
print(df)

Original DataFrame:
shape: (6, 6)
┌──────────┬─────────┬───────┬─────────────┬─────────────┬──────────┐
│ lon      ┆ lat     ┆ depth ┆ time_period ┆ temperature ┆ salinity │
│ ---      ┆ ---     ┆ ---   ┆ ---         ┆ ---         ┆ ---      │
│ f64      ┆ f64     ┆ i64   ┆ i64         ┆ f64         ┆ f64      │
╞══════════╪═════════╪═══════╪═════════════╪═════════════╪══════════╡
│ -179.875 ┆ -89.875 ┆ 5     ┆ 2           ┆ null        ┆ 35.1     │
│ -179.625 ┆ -89.875 ┆ 5     ┆ 2           ┆ 10.5        ┆ 34.5     │
│ -179.375 ┆ -89.875 ┆ 5     ┆ 2           ┆ 20.1        ┆ null     │
│ -179.875 ┆ -89.625 ┆ 5     ┆ 2           ┆ NaN         ┆ NaN      │
│ -179.625 ┆ -89.625 ┆ 5     ┆ 2           ┆ NaN         ┆ 36.0     │
│ -179.375 ┆ -89.625 ┆ 5     ┆ 2           ┆ 15.2        ┆ NaN      │
└──────────┴─────────┴───────┴─────────────┴─────────────┴──────────┘

Sanitized and Filtered DataFrame:
shape: (5, 6)
┌──────────┬─────────┬───────┬─────────────┬─────────────┬──────────┐
│ lon      ┆ lat     ┆ depth ┆ time_period ┆ temperature ┆ salinity │
│ ---      ┆ ---     ┆ ---   ┆ ---         ┆ ---         ┆ ---      │
│ f64      ┆ f64     ┆ i64   ┆ i64         ┆ f64         ┆ f64      │
╞══════════╪═════════╪═══════╪═════════════╪═════════════╪══════════╡
│ -179.875 ┆ -89.875 ┆ 5     ┆ 2           ┆ null        ┆ 35.1     │
│ -179.625 ┆ -89.875 ┆ 5     ┆ 2           ┆ 10.5        ┆ 34.5     │
│ -179.375 ┆ -89.875 ┆ 5     ┆ 2           ┆ 20.1        ┆ null     │
│ -179.625 ┆ -89.625 ┆ 5     ┆ 2           ┆ null        ┆ 36.0     │
│ -179.375 ┆ -89.625 ┆ 5     ┆ 2           ┆ 15.2        ┆ null     │
└──────────┴─────────┴───────┴─────────────┴─────────────┴──────────┘

In [13]:
print(table_name)
print(parameter_set)

grd025_monthly_TS
['temperature', 'salinity']

In [34]:
cur = conn.cursor()
processed_records = 0
batch_size=100000

if True:
            try:
                execute_values(
                    cur,
                    f"""
                    INSERT INTO {table_name} (lon, lat, depth, time_period, {', '.join(parameter_set)}, geom)
                    VALUES %s;
                    """,
                    rows,
                    page_size=batch_size
                )
                conn.commit()
                processed_records += len(rows)
                print(f"Inserted {len(rows)} records for depth={depth}, time_period={period}. Total inserted: {processed_records}")

            except Exception as e:
                conn.rollback()
                print(f"Error during batch insert for depth={depth}, time_period={period}: {e}")

conn.close()

Inserted 262122 records for depth=15, time_period=2. Total inserted: 262122

In [14]:
def process_chunk_with_polars(chunk, lon_vals, lat_vals, depth, period, parameter_set, res):
    """Process a chunk of data with Polars."""
    # Create Polars DataFrame
    df = pl.DataFrame({
        'lon': np.tile(lon_vals, len(lat_vals)),
        'lat': np.repeat(lat_vals, len(lon_vals)),
        'depth': [depth] * len(lon_vals) * len(lat_vals),
        'time_period': [period] * len(lon_vals) * len(lat_vals),
    })

    # Add parameter values to the Polars DataFrame
    for param in parameter_set:
        if param not in chunk.coords['parameters'].values:
            raise ValueError(f"Parameter '{param}' not found in the dataset's parameters dimension.")
        param_values = chunk['mn'].sel(parameters=param).values.flatten()
        df = df.with_columns(pl.Series(param, [sanitize_value(v) for v in param_values]))

    # Drop rows where all parameter values are None
    df = df.filter(~pl.all_horizontal([df[param].is_null() for param in parameter_set]))

    # Add geometry as WKB
    geom = [
        wkb.dumps(generate_grid_polygon(row[0], row[1], res), hex=True)
        for row in zip(df['lon'].to_numpy(), df['lat'].to_numpy())
    ]
    df = df.with_columns(pl.Series('geom', geom))

    # Convert Polars DataFrame to a list of tuples for batch insertion
    rows = [
        (
            row['lon'], row['lat'], row['depth'], row['time_period'],
            *[row[param] for param in parameter_set], row['geom']
        )
        for row in df.iter_rows(named=True)
    ]
    return rows

In [ ]:
def process_and_insert_zarr(conn, table_name, data, parameter_set, res, start_depth_idx=0, batch_size=100000):
    """Process Zarr data and insert into PostGIS using Polars."""
    cur = conn.cursor()
    lon_vals = data['lon'].values
    lat_vals = data['lat'].values

    processed_records = 0
    start_time = datetime.now()

    #forceInitTime = 3
    #forceMaxTime = 3
    #forceMaxDepth = 0
    #forceTerminate = False

    for time_idx in range(data.dims['time_periods']):
        #if forceTerminate or time_idx > forceMaxTime:
        #    break
        #if time_idx < forceInitTime:
        #    continue

        period = str(data['time_periods'].data[time_idx])  # Convert to string
        print(f"Processing time_idx={time_idx}, time_period={period}")
        
        for depth_idx in range(start_depth_idx, data.dims['depth']):
            #if depth_idx > forceMaxDepth:
            #    forceTerminate = True
            #    break
                        
            depth = float(data['depth'].data[depth_idx])
            print(f"Processing depth_idx={depth_idx}, depth={depth}")

            # Load the data chunk
            chunk = data.sel(time_periods=period, depth=depth)  # Use string `period`
            # Debugging chunk
            print(f"Chunk dimensions: {chunk.dims}")
            print(f"Chunk coordinates: {chunk.coords}")
            
            # Process the chunk with Polars
            rows = process_chunk_with_polars(chunk, lon_vals, lat_vals, int(depth), int(period), parameter_set, res)
                
            # Insert rows in batches
            for i in range(0, len(rows), batch_size):
                batch = rows[i:i + batch_size]
                try:
                    execute_values(
                        cur,
                        f"""
                        INSERT INTO {table_name} (lon, lat, depth, time_period, {', '.join(parameter_set)}, geom)
                        VALUES %s;
                        """,
                        batch,
                        page_size=batch_size
                    )
                    conn.commit()
                    processed_records += len(batch)
                    print(f"Inserted {processed_records} records. Last batch size: {len(batch)}.")
                except Exception as e:
                    print(f"Error during batch insert for depth={depth}, time_period={period}: {e}")
                    conn.rollback()
                    raise

            #if (processed_records == 1 or processed_records % 1000 == 0):
            end_time = datetime.now()
            print(f"Finished depth_idx={depth_idx}, depth={depth}records and handle {processed_records} with {(end_time - start_time).total_seconds()} second")
            start_time = end_time    

    print(f"Processing complete. Total records inserted: {processed_records}.")
    cur.close()

In [17]:
if True: #__name__ == '__main__' #only Test
    print("Test res, pars", res, grids, pars)

print("Test table name and parameter_set", table_name, parameter_set)
print(data)

Test res, pars 04 ['04'] ['TS']
Test table name and parameter_set grd025_monthly_TS ['temperature', 'salinity']
<xarray.Dataset> Size: 57GB
Dimensions:       (time_periods: 12, parameters: 2, depth: 57, lat: 720,
                   lon: 1440)
Coordinates:
  * depth         (depth) float32 228B 0.0 5.0 10.0 ... 1.4e+03 1.45e+03 1.5e+03
  * lat           (lat) float32 3kB -89.88 -89.62 -89.38 ... 89.38 89.62 89.88
  * lon           (lon) float32 6kB -179.9 -179.6 -179.4 ... 179.4 179.6 179.9
  * parameters    (parameters) <U11 88B 'temperature' 'salinity'
  * time_periods  (time_periods) <U2 96B '1' '2' '3' '4' ... '9' '10' '11' '12'
Data variables:
    an            (time_periods, parameters, depth, lat, lon) float32 6GB dask.array<chunksize=(1, 1, 8, 90, 360), meta=np.ndarray>
    dd            (time_periods, parameters, depth, lat, lon) float32 6GB dask.array<chunksize=(1, 1, 8, 90, 360), meta=np.ndarray>
    gp            (time_periods, parameters, depth, lat, lon) float32 6GB dask.array<chunksize=(1, 1, 8, 90, 360), meta=np.ndarray>
    ma            (time_periods, parameters, depth, lat, lon) float32 6GB dask.array<chunksize=(1, 1, 8, 90, 360), meta=np.ndarray>
    mn            (time_periods, parameters, depth, lat, lon) float32 6GB dask.array<chunksize=(1, 1, 8, 90, 360), meta=np.ndarray>
    oa            (time_periods, parameters, depth, lat, lon) float32 6GB dask.array<chunksize=(1, 1, 8, 90, 360), meta=np.ndarray>
    sd            (time_periods, parameters, depth, lat, lon) float32 6GB dask.array<chunksize=(1, 1, 8, 90, 360), meta=np.ndarray>
    sdo           (time_periods, parameters, depth, lat, lon) float32 6GB dask.array<chunksize=(1, 1, 8, 90, 360), meta=np.ndarray>
    se            (time_periods, parameters, depth, lat, lon) float32 6GB dask.array<chunksize=(1, 1, 8, 90, 360), meta=np.ndarray>
    sea           (time_periods, parameters, depth, lat, lon) float32 6GB dask.array<chunksize=(1, 1, 8, 90, 360), meta=np.ndarray>

In [17]:
chunk = data.sel(time_periods='13', depth=10)
print(chunk)

<xarray.Dataset> Size: 83MB
Dimensions:       (parameters: 2, lat: 720, lon: 1440)
Coordinates:
    depth         float32 4B 10.0
  * lat           (lat) float32 3kB -89.88 -89.62 -89.38 ... 89.38 89.62 89.88
  * lon           (lon) float32 6kB -179.9 -179.6 -179.4 ... 179.4 179.6 179.9
  * parameters    (parameters) <U11 88B 'temperature' 'salinity'
    time_periods  <U2 8B '13'
Data variables:
    an            (parameters, lat, lon) float32 8MB dask.array<chunksize=(1, 90, 360), meta=np.ndarray>
    dd            (parameters, lat, lon) float32 8MB dask.array<chunksize=(1, 90, 360), meta=np.ndarray>
    gp            (parameters, lat, lon) float32 8MB dask.array<chunksize=(1, 90, 360), meta=np.ndarray>
    ma            (parameters, lat, lon) float32 8MB dask.array<chunksize=(1, 90, 360), meta=np.ndarray>
    mn            (parameters, lat, lon) float32 8MB dask.array<chunksize=(1, 90, 360), meta=np.ndarray>
    oa            (parameters, lat, lon) float32 8MB dask.array<chunksize=(1, 90, 360), meta=np.ndarray>
    sd            (parameters, lat, lon) float32 8MB dask.array<chunksize=(1, 90, 360), meta=np.ndarray>
    sdo           (parameters, lat, lon) float32 8MB dask.array<chunksize=(1, 90, 360), meta=np.ndarray>
    se            (parameters, lat, lon) float32 8MB dask.array<chunksize=(1, 90, 360), meta=np.ndarray>
    sea           (parameters, lat, lon) float32 8MB dask.array<chunksize=(1, 90, 360), meta=np.ndarray>

In [66]:
chunk.sel(parameters='temperature').values

<bound method Mapping.values of <xarray.Dataset> Size: 41MB
Dimensions:       (lat: 720, lon: 1440)
Coordinates:
    depth         float32 4B 10.0
  * lat           (lat) float32 3kB -89.88 -89.62 -89.38 ... 89.38 89.62 89.88
  * lon           (lon) float32 6kB -179.9 -179.6 -179.4 ... 179.4 179.6 179.9
    parameters    <U11 44B 'temperature'
    time_periods  <U2 8B '2'
Data variables:
    an            (lat, lon) float32 4MB dask.array<chunksize=(90, 360), meta=np.ndarray>
    dd            (lat, lon) float32 4MB dask.array<chunksize=(90, 360), meta=np.ndarray>
    gp            (lat, lon) float32 4MB dask.array<chunksize=(90, 360), meta=np.ndarray>
    ma            (lat, lon) float32 4MB dask.array<chunksize=(90, 360), meta=np.ndarray>
    mn            (lat, lon) float32 4MB dask.array<chunksize=(90, 360), meta=np.ndarray>
    oa            (lat, lon) float32 4MB dask.array<chunksize=(90, 360), meta=np.ndarray>
    sd            (lat, lon) float32 4MB dask.array<chunksize=(90, 360), meta=np.ndarray>
    sdo           (lat, lon) float32 4MB dask.array<chunksize=(90, 360), meta=np.ndarray>
    se            (lat, lon) float32 4MB dask.array<chunksize=(90, 360), meta=np.ndarray>
    sea           (lat, lon) float32 4MB dask.array<chunksize=(90, 360), meta=np.ndarray>>

In [18]:
conn = connect_db(db_settings)

In [19]:
start_depth_idx=0
process_and_insert_zarr(conn, table_name, data, parameter_set, res, start_depth_idx)
conn.close()

/tmp/ipykernel_178812/1542187793.py:15: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  for time_idx in range(data.dims['time_periods']):
/tmp/ipykernel_178812/1542187793.py:24: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  for depth_idx in range(start_depth_idx, data.dims['depth']):

Processing time_idx=3, time_period=4
Processing depth_idx=0, depth=0.0
Chunk dimensions: FrozenMappingWarningOnValuesAccess({'parameters': 2, 'lat': 720, 'lon': 1440})
Chunk coordinates: Coordinates:
    depth         float32 4B 0.0
  * lat           (lat) float32 3kB -89.88 -89.62 -89.38 ... 89.38 89.62 89.88
  * lon           (lon) float32 6kB -179.9 -179.6 -179.4 ... 179.4 179.6 179.9
  * parameters    (parameters) <U11 88B 'temperature' 'salinity'
    time_periods  <U2 8B '4'
Inserted 100000 records. Last batch size: 100000.
Inserted 200000 records. Last batch size: 100000.
Inserted 249608 records. Last batch size: 49608.
Finished depth_idx=0, depth=0.0records and handle 249608 with 25.027086 second
Processing complete. Total records inserted: 249608.

In [28]:
# Main loop to iterate through grids, time_periods, and pars
# conn = connect_db(db_settings)
# grid_db = {'01': 'grd1', '04': 'grd025'}
# grid_dir = {'01': '1_degree', '04': '025_degree'}

# Loop to write data
for res in grids:
    for time_period in time_periods:
        for par in pars:
            # Determine the Zarr store path and table name
            zarr_store_path = f"../data/{grid_dir[res]}/{time_period}/{par}"
            table_name = f"{grid_db[res]}_{time_period}_{par}"

            # Determine the parameter set based on the subgroup
            if res == '04' or par == 'TS':
                parameter_set = ['temperature', 'salinity']
            elif par == 'Oxy':
                parameter_set = ['oxygen', 'o2sat', 'AOU']
            else:
                parameter_set = ['silicate', 'phosphate', 'nitrate']

            # Create the table and index it
            print("Current handling: ", res, time_period, parameter_set)
            print("Create table name: ", table_name)
            # create_ts_table(conn, table_name, parameter_set)
            print("Read dataset: ", zarr_store_path)
            # Load data from the Zarr store and insert it into the table
            data = xr.open_zarr(zarr_store_path, consolidated=False)
            start_depth_idx = 0  # Replace this with the desired start depth index if needed
            print("Start inserting data at date: ", datetime.now())
            insert_into_postgis(conn, table_name, data, parameter_set, res, start_depth_idx=start_depth_idx)
            print("End this insertion: ", datetime.now())

conn.close()

Current handling:  04 monthly ['temperature', 'salinity']
Create table name:  grd025_monthly_TS
Read dataset:  ../data/025_degree/monthly/TS
Start inserting data at date:  2024-12-02 15:42:14.019984
Processing time_idx: 1, 2

/tmp/ipykernel_117724/2668596291.py:4: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  total_records = data.dims['time_periods'] * data.dims['depth'] * data.dims['lat'] * data.dims['lon']
/tmp/ipykernel_117724/2668596291.py:12: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  for time_idx in range(data.dims['time_periods']):
/tmp/ipykernel_117724/2668596291.py:18: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  for depth_idx in range(start_depth_idx, data.dims['depth']):
/tmp/ipykernel_117724/2668596291.py:22: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  for lat_idx in range(data.dims['lat']):
/tmp/ipykernel_117724/2668596291.py:23: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  for lon_idx in range(data.dims['lon']):

In lon, lat, depth, time_period: -163.875, -78.375, 0, 2, query records: 1 with 1694.878965 seconds
Values are: [-1.5646120309829712, 33.86015319824219]
In lon, lat, depth, time_period: 176.875, -74.875, 0, 2, query records: 1000 with 573.29832 seconds
Values are: [-0.41999998688697815, 34.43000030517578]
In lon, lat, depth, time_period: -107.375, -72.125, 0, 2, query records: 2000 with 392.877128 seconds
Values are: [-1.0499999523162842, None]
In lon, lat, depth, time_period: 27.125, -69.125, 0, 2, query records: 3000 with 481.921367 seconds
Values are: [-1.0289210081100464, 33.130001068115234]
In lon, lat, depth, time_period: -18.625, -67.875, 0, 2, query records: 4000 with 193.17548 seconds
Values are: [0.07239300012588501, None]
In lon, lat, depth, time_period: 73.625, -67.125, 0, 2, query records: 5000 with 124.598179 seconds
Values are: [0.5349999666213989, None]
In lon, lat, depth, time_period: 110.125, -66.375, 0, 2, query records: 6000 with 122.044423 seconds
Values are: [-1.5859999656677246, None]
In lon, lat, depth, time_period: 30.375, -65.625, 0, 2, query records: 7000 with 113.780448 seconds
Values are: [0.6000000238418579, None]
In lon, lat, depth, time_period: 166.125, -65.125, 0, 2, query records: 8000 with 93.457428 seconds
Values are: [-0.5882999897003174, None]
In lon, lat, depth, time_period: 78.875, -64.375, 0, 2, query records: 9000 with 109.917664 seconds
Values are: [0.6319999694824219, 33.80799865722656]
In lon, lat, depth, time_period: 121.625, -63.875, 0, 2, query records: 10000 with 85.642228 seconds
Values are: [2.202888011932373, None]
In lon, lat, depth, time_period: -90.875, -63.125, 0, 2, query records: 11000 with 97.140864 seconds
Values are: [3.5209999084472656, 33.887298583984375]
In lon, lat, depth, time_period: 37.875, -62.625, 0, 2, query records: 12000 with 94.298001 seconds
Values are: [2.369999885559082, None]
In lon, lat, depth, time_period: 175.625, -62.125, 0, 2, query records: 13000 with 95.274117 seconds
Values are: [4.384713649749756, None]
In lon, lat, depth, time_period: 10.875, -61.375, 0, 2, query records: 14000 with 105.018594 seconds
Values are: [0.4519999921321869, 33.79202651977539]
In lon, lat, depth, time_period: 115.125, -60.875, 0, 2, query records: 15000 with 93.836819 seconds
Values are: [2.875, 33.84600067138672]
In lon, lat, depth, time_period: -94.375, -60.125, 0, 2, query records: 16000 with 95.44478 seconds
Values are: [4.199826240539551, None]
In lon, lat, depth, time_period: -31.875, -59.625, 0, 2, query records: 17000 with 86.813637 seconds
Values are: [1.4199999570846558, 34.0629997253418]
In lon, lat, depth, time_period: 83.125, -59.125, 0, 2, query records: 18000 with 93.973241 seconds
Values are: [3.128333330154419, None]
In lon, lat, depth, time_period: 168.375, -58.625, 0, 2, query records: 19000 with 88.112618 seconds
Values are: [6.1020002365112305, 33.84410095214844]
In lon, lat, depth, time_period: -86.375, -57.875, 0, 2, query records: 20000 with 92.538362 seconds
Values are: [6.879000186920166, 34.15394592285156]
In lon, lat, depth, time_period: 0.375, -57.375, 0, 2, query records: 21000 with 90.755089 seconds
Values are: [1.194000005722046, 34.03499984741211]
In lon, lat, depth, time_period: 73.375, -56.875, 0, 2, query records: 22000 with 88.958161 seconds
Values are: [1.5049999952316284, None]
In lon, lat, depth, time_period: 149.875, -56.375, 0, 2, query records: 23000 with 87.623048 seconds
Values are: [4.974618434906006, 33.84149932861328]
In lon, lat, depth, time_period: -115.375, -55.625, 0, 2, query records: 24000 with 91.720007 seconds
Values are: [6.894999980926514, 33.9588508605957]
In lon, lat, depth, time_period: 1.625, -55.125, 0, 2, query records: 25000 with 95.161572 seconds
Values are: [0.9024999737739563, None]
In lon, lat, depth, time_period: 76.375, -54.625, 0, 2, query records: 26000 with 90.034216 seconds
Values are: [2.996999979019165, None]
In lon, lat, depth, time_period: 98.375, -54.125, 0, 2, query records: 27000 with 80.637914 seconds
Values are: [4.610000133514404, None]
In lon, lat, depth, time_period: 125.625, -53.625, 0, 2, query records: 28000 with 81.595765 seconds
Values are: [6.144000053405762, 33.89360809326172]
In lon, lat, depth, time_period: 178.375, -53.125, 0, 2, query records: 29000 with 82.567043 seconds
Values are: [7.5161566734313965, None]
In lon, lat, depth, time_period: -149.625, -52.375, 0, 2, query records: 30000 with 80.597417 seconds
Values are: [9.413000106811523, 34.42594528198242]
In lon, lat, depth, time_period: -76.625, -51.875, 0, 2, query records: 31000 with 84.789736 seconds
Values are: [10.239999771118164, None]
In lon, lat, depth, time_period: 16.125, -51.375, 0, 2, query records: 32000 with 86.72885 seconds
Values are: [3.065999984741211, 33.689998626708984]
In lon, lat, depth, time_period: 56.625, -50.875, 0, 2, query records: 33000 with 81.23532 seconds
Values are: [4.057750225067139, 33.83185958862305]
In lon, lat, depth, time_period: 152.875, -50.375, 0, 2, query records: 34000 with 87.703993 seconds
Values are: [10.001999855041504, 34.15950012207031]
In lon, lat, depth, time_period: -3.125, -49.625, 0, 2, query records: 35000 with 97.946829 seconds
Values are: [4.775000095367432, 33.768001556396484]
In lon, lat, depth, time_period: 143.625, -49.125, 0, 2, query records: 36000 with 90.072139 seconds
Values are: [10.958000183105469, None]
In lon, lat, depth, time_period: -51.375, -48.375, 0, 2, query records: 37000 with 91.853156 seconds
Values are: [14.64799976348877, 34.39429473876953]
In lon, lat, depth, time_period: 50.375, -47.875, 0, 2, query records: 38000 with 85.422422 seconds
Values are: [6.413000106811523, 33.707000732421875]
In lon, lat, depth, time_period: 148.625, -47.375, 0, 2, query records: 39000 with 85.85723 seconds
Values are: [14.042325019836426, None]
In lon, lat, depth, time_period: -53.125, -46.625, 0, 2, query records: 40000 with 92.713024 seconds
Values are: [15.251769065856934, None]
In lon, lat, depth, time_period: 71.875, -46.125, 0, 2, query records: 41000 with 88.94793 seconds
Values are: [None, 33.76499938964844]
In lon, lat, depth, time_period: -121.375, -45.375, 0, 2, query records: 42000 with 93.103108 seconds
Values are: [12.983999252319336, 34.17789077758789]
In lon, lat, depth, time_period: 155.375, -44.875, 0, 2, query records: 43000 with 104.917545 seconds
Values are: [14.72599983215332, 34.67321014404297]
In lon, lat, depth, time_period: 7.625, -44.125, 0, 2, query records: 44000 with 98.423434 seconds
Values are: [9.307072639465332, 33.928001403808594]
In lon, lat, depth, time_period: 128.125, -43.625, 0, 2, query records: 45000 with 89.001693 seconds
Values are: [12.83899974822998, None]
In lon, lat, depth, time_period: -43.875, -42.875, 0, 2, query records: 46000 with 96.201354 seconds
Values are: [15.121000289916992, 34.53799819946289]
In lon, lat, depth, time_period: 126.625, -42.375, 0, 2, query records: 47000 with 93.624857 seconds
Values are: [15.197999954223633, None]
In lon, lat, depth, time_period: -128.125, -41.625, 0, 2, query records: 48000 with 86.770353 seconds
Values are: [16.218000411987305, 34.220977783203125]
In lon, lat, depth, time_period: 40.375, -41.125, 0, 2, query records: 49000 with 93.649979 seconds
Values are: [18.6299991607666, 35.06999969482422]
In lon, lat, depth, time_period: 176.625, -40.625, 0, 2, query records: 50000 with 90.837982 seconds
Values are: [18.216564178466797, None]
In lon, lat, depth, time_period: -55.875, -39.875, 0, 2, query records: 51000 with 90.381197 seconds
Values are: [12.129734992980957, None]
In lon, lat, depth, time_period: 42.125, -39.375, 0, 2, query records: 52000 with 86.743042 seconds
Values are: [None, 35.259666442871094]
In lon, lat, depth, time_period: 119.875, -38.875, 0, 2, query records: 53000 with 83.31335 seconds
Values are: [16.79199981689453, None]
In lon, lat, depth, time_period: 151.125, -38.375, 0, 2, query records: 54000 with 78.571357 seconds
Values are: [22.157377243041992, None]
In lon, lat, depth, time_period: -131.625, -37.625, 0, 2, query records: 55000 with 83.486877 seconds
Values are: [20.8700008392334, 34.7224006652832]
In lon, lat, depth, time_period: -36.875, -37.125, 0, 2, query records: 56000 with 85.47669 seconds
Values are: [21.791000366210938, 35.645999908447266]
In lon, lat, depth, time_period: 50.375, -36.625, 0, 2, query records: 57000 with 84.032083 seconds
Values are: [20.186708450317383, None]
In lon, lat, depth, time_period: 161.625, -36.125, 0, 2, query records: 58000 with 86.620831 seconds
Values are: [22.936199188232422, 35.70444869995117]
In lon, lat, depth, time_period: -156.125, -35.375, 0, 2, query records: 59000 with 79.538219 seconds
Values are: [20.41337776184082, None]
In lon, lat, depth, time_period: 155.875, -35.125, 0, 2, query records: 60000 with 70.068609 seconds
Values are: [24.12044906616211, 35.54156494140625]
In lon, lat, depth, time_period: -150.625, -34.375, 0, 2, query records: 61000 with 81.614615 seconds
Values are: [21.113378524780273, None]
In lon, lat, depth, time_period: -37.125, -33.875, 0, 2, query records: 62000 with 87.576899 seconds
Values are: [22.927000045776367, 35.63128662109375]
In lon, lat, depth, time_period: 89.375, -33.375, 0, 2, query records: 63000 with 89.41498 seconds
Values are: [21.57699966430664, 35.742000579833984]
In lon, lat, depth, time_period: 66.875, -32.875, 0, 2, query records: 64000 with 73.758301 seconds
Values are: [21.149999618530273, None]
In lon, lat, depth, time_period: 178.375, -32.375, 0, 2, query records: 65000 with 88.078639 seconds
Values are: [22.679563522338867, None]
In lon, lat, depth, time_period: 0.875, -31.625, 0, 2, query records: 66000 with 95.963873 seconds
Values are: [21.141103744506836, None]
In lon, lat, depth, time_period: 168.375, -31.125, 0, 2, query records: 67000 with 94.331738 seconds
Values are: [23.799999237060547, 35.54999923706055]
In lon, lat, depth, time_period: 33.125, -30.375, 0, 2, query records: 68000 with 100.160967 seconds
Values are: [27.686708450317383, None]
In lon, lat, depth, time_period: -79.375, -29.625, 0, 2, query records: 69000 with 103.014302 seconds
Values are: [20.50550079345703, 34.58666229248047]
In lon, lat, depth, time_period: 174.125, -29.125, 0, 2, query records: 70000 with 103.9429 seconds
Values are: [24.110000610351562, 35.9119987487793]
In lon, lat, depth, time_period: 13.875, -28.375, 0, 2, query records: 71000 with 98.123251 seconds
Values are: [20.54400062561035, 35.33599853515625]
In lon, lat, depth, time_period: -92.125, -27.625, 0, 2, query records: 72000 with 101.36317 seconds
Values are: [21.787242889404297, None]
In lon, lat, depth, time_period: 99.375, -27.125, 0, 2, query records: 73000 with 95.282983 seconds
Values are: [21.520999908447266, 35.94075012207031]
In lon, lat, depth, time_period: 6.875, -26.375, 0, 2, query records: 74000 with 102.979784 seconds
Values are: [21.973834991455078, None]
In lon, lat, depth, time_period: -98.375, -25.625, 0, 2, query records: 75000 with 101.758888 seconds
Values are: [24.684999465942383, 36.00199890136719]
In lon, lat, depth, time_period: -91.375, -24.875, 0, 2, query records: 76000 with 114.339315 seconds
Values are: [23.280000686645508, 35.56480026245117]
In lon, lat, depth, time_period: -140.125, -24.125, 0, 2, query records: 77000 with 108.537406 seconds
Values are: [26.349000930786133, None]
In lon, lat, depth, time_period: 108.375, -23.625, 0, 2, query records: 78000 with 101.693735 seconds
Values are: [25.250999450683594, 35.134849548339844]
In lon, lat, depth, time_period: -0.625, -22.875, 0, 2, query records: 79000 with 102.181527 seconds
Values are: [23.594999313354492, 36.051673889160156]
In lon, lat, depth, time_period: -149.875, -22.125, 0, 2, query records: 80000 with 98.023309 seconds
Values are: [29.0, None]
In lon, lat, depth, time_period: 36.125, -21.625, 0, 2, query records: 81000 with 95.859459 seconds
Values are: [29.722274780273438, None]
In lon, lat, depth, time_period: -172.875, -20.875, 0, 2, query records: 82000 with 93.016582 seconds
Values are: [None, 35.825252532958984]
In lon, lat, depth, time_period: -79.375, -20.375, 0, 2, query records: 83000 with 87.955215 seconds
Values are: [23.381000518798828, None]
In lon, lat, depth, time_period: 73.125, -19.875, 0, 2, query records: 84000 with 93.917883 seconds
Values are: [27.211999893188477, 35.078033447265625]
In lon, lat, depth, time_period: -176.125, -19.125, 0, 2, query records: 85000 with 89.564836 seconds
Values are: [28.31599998474121, 35.531002044677734]
In lon, lat, depth, time_period: -93.625, -18.625, 0, 2, query records: 86000 with 87.443644 seconds
Values are: [23.66699981689453, 35.706993103027344]
In lon, lat, depth, time_period: 9.875, -18.125, 0, 2, query records: 87000 with 88.953433 seconds
Values are: [23.396427154541016, 35.702999114990234]
In lon, lat, depth, time_period: 159.875, -17.625, 0, 2, query records: 88000 with 92.153056 seconds
Values are: [27.724674224853516, 34.89500045776367]
In lon, lat, depth, time_period: -148.375, -16.875, 0, 2, query records: 89000 with 81.262151 seconds
Values are: [None, 35.808998107910156]
In lon, lat, depth, time_period: -1.625, -16.375, 0, 2, query records: 90000 with 90.437054 seconds
Values are: [24.302886962890625, None]
In lon, lat, depth, time_period: 139.625, -15.875, 0, 2, query records: 91000 with 89.178534 seconds
Values are: [31.161266326904297, 34.59103012084961]
In lon, lat, depth, time_period: -146.625, -15.125, 0, 2, query records: 92000 with 82.254003 seconds
Values are: [None, 36.099998474121094]
In lon, lat, depth, time_period: -76.875, -14.625, 0, 2, query records: 93000 with 82.053504 seconds
Values are: [23.365447998046875, 35.28666687011719]
In lon, lat, depth, time_period: -3.625, -14.125, 0, 2, query records: 94000 with 82.621288 seconds
Values are: [25.58799934387207, 36.69230270385742]
In lon, lat, depth, time_period: 102.125, -13.625, 0, 2, query records: 95000 with 86.195132 seconds
Values are: [29.625999450683594, 34.531620025634766]
In lon, lat, depth, time_period: 151.125, -13.125, 0, 2, query records: 96000 with 80.89625 seconds
Values are: [30.28886604309082, 34.54999923706055]
In lon, lat, depth, time_period: 174.125, -12.625, 0, 2, query records: 97000 with 77.888998 seconds
Values are: [29.06599998474121, 34.13500213623047]
In lon, lat, depth, time_period: -141.625, -11.875, 0, 2, query records: 98000 with 80.23666 seconds
Values are: [None, 36.13999938964844]
In lon, lat, depth, time_period: -146.625, -11.375, 0, 2, query records: 99000 with 75.151783 seconds
Values are: [28.307504653930664, 35.849998474121094]
In lon, lat, depth, time_period: -170.625, -10.875, 0, 2, query records: 100000 with 73.390977 seconds
Values are: [29.128999710083008, 35.50699996948242]
In lon, lat, depth, time_period: -153.125, -10.375, 0, 2, query records: 101000 with 77.783328 seconds
Values are: [28.848499298095703, 35.93000030517578]
In lon, lat, depth, time_period: -172.375, -9.875, 0, 2, query records: 102000 with 74.014004 seconds
Values are: [29.362550735473633, None]
In lon, lat, depth, time_period: -133.125, -9.375, 0, 2, query records: 103000 with 80.707243 seconds
Values are: [None, 35.39979934692383]
In lon, lat, depth, time_period: -125.625, -8.875, 0, 2, query records: 104000 with 77.083729 seconds
Values are: [26.827974319458008, 35.572574615478516]
In lon, lat, depth, time_period: -94.625, -8.375, 0, 2, query records: 105000 with 79.553299 seconds
Values are: [27.29749298095703, None]
In lon, lat, depth, time_period: -98.625, -7.875, 0, 2, query records: 106000 with 76.151648 seconds
Values are: [25.123558044433594, None]
In lon, lat, depth, time_period: -32.375, -7.375, 0, 2, query records: 107000 with 83.326473 seconds
Values are: [28.351999282836914, 36.44499969482422]
In lon, lat, depth, time_period: 53.125, -6.875, 0, 2, query records: 108000 with 85.731137 seconds
Values are: [29.18899917602539, 35.10200119018555]
In lon, lat, depth, time_period: 153.375, -6.375, 0, 2, query records: 109000 with 86.110861 seconds
Values are: [29.299999237060547, None]
In lon, lat, depth, time_period: -158.125, -5.625, 0, 2, query records: 110000 with 80.455152 seconds
Values are: [27.298999786376953, None]
In lon, lat, depth, time_period: -115.125, -5.125, 0, 2, query records: 111000 with 79.923027 seconds
Values are: [25.5, 35.20887756347656]
In lon, lat, depth, time_period: -82.875, -4.625, 0, 2, query records: 112000 with 78.368768 seconds
Values are: [25.333942413330078, None]
In lon, lat, depth, time_period: -90.375, -4.125, 0, 2, query records: 113000 with 74.267156 seconds
Values are: [26.731548309326172, None]
In lon, lat, depth, time_period: -97.125, -3.625, 0, 2, query records: 114000 with 74.986636 seconds
Values are: [25.14299964904785, 34.17100143432617]
In lon, lat, depth, time_period: -25.125, -3.125, 0, 2, query records: 115000 with 83.154477 seconds
Values are: [27.333942413330078, 36.150901794433594]
In lon, lat, depth, time_period: 60.375, -2.625, 0, 2, query records: 116000 with 84.631338 seconds
Values are: [29.07900047302246, 35.35295867919922]
In lon, lat, depth, time_period: 73.875, -2.125, 0, 2, query records: 117000 with 76.613782 seconds
Values are: [29.84000015258789, 34.93299865722656]
In lon, lat, depth, time_period: 70.625, -1.625, 0, 2, query records: 118000 with 75.083342 seconds
Values are: [29.524999618530273, 35.01584243774414]
In lon, lat, depth, time_period: 6.625, -1.125, 0, 2, query records: 119000 with 68.45124 seconds
Values are: [27.950000762939453, 33.43000030517578]
In lon, lat, depth, time_period: -40.875, -0.625, 0, 2, query records: 120000 with 70.242329 seconds
Values are: [27.007648468017578, None]
In lon, lat, depth, time_period: -154.375, -0.125, 0, 2, query records: 121000 with 63.942217 seconds
Values are: [None, 34.95266342163086]
In lon, lat, depth, time_period: -26.875, 0.125, 0, 2, query records: 122000 with 51.647431 seconds
Values are: [27.968000411987305, 35.089298248291016]
In lon, lat, depth, time_period: -167.125, 0.625, 0, 2, query records: 123000 with 61.176856 seconds
Values are: [27.264101028442383, 35.227500915527344]
In lon, lat, depth, time_period: 106.375, 0.875, 0, 2, query records: 124000 with 66.529066 seconds
Values are: [26.34000015258789, 33.58000183105469]
In lon, lat, depth, time_period: 2.125, 1.375, 0, 2, query records: 125000 with 64.87579 seconds
Values are: [28.66165542602539, None]
In lon, lat, depth, time_period: -86.375, 1.875, 0, 2, query records: 126000 with 66.863666 seconds
Values are: [27.476001739501953, None]
In lon, lat, depth, time_period: -158.375, 2.375, 0, 2, query records: 127000 with 68.560247 seconds
Values are: [26.491174697875977, 34.97650146484375]
In lon, lat, depth, time_period: -165.875, 2.875, 0, 2, query records: 128000 with 75.154876 seconds
Values are: [27.452999114990234, 35.13349914550781]
In lon, lat, depth, time_period: 145.625, 3.125, 0, 2, query records: 129000 with 70.884773 seconds
Values are: [29.783000946044922, 34.12099838256836]
In lon, lat, depth, time_period: 77.625, 3.625, 0, 2, query records: 130000 with 68.920172 seconds
Values are: [28.902999877929688, None]
In lon, lat, depth, time_period: -14.625, 4.125, 0, 2, query records: 131000 with 66.749868 seconds
Values are: [29.270000457763672, 34.82403564453125]
In lon, lat, depth, time_period: -136.125, 4.625, 0, 2, query records: 132000 with 62.109202 seconds
Values are: [25.54400062561035, None]
In lon, lat, depth, time_period: 172.875, 4.875, 0, 2, query records: 133000 with 68.360985 seconds
Values are: [27.60926055908203, None]
In lon, lat, depth, time_period: 74.125, 5.375, 0, 2, query records: 134000 with 64.263062 seconds
Values are: [28.31599998474121, 34.802207946777344]
In lon, lat, depth, time_period: -45.625, 5.875, 0, 2, query records: 135000 with 62.314096 seconds
Values are: [26.74951934814453, None]
In lon, lat, depth, time_period: -171.625, 6.375, 0, 2, query records: 136000 with 61.920586 seconds

KeyboardInterrupt:

In [ ]:
data = xr.open_zarr(zarr_store_path, consolidated=False)
print(data)

In [ ]:
create_ts_table(conn, table_name)
# print(conn)
insert_into_postgis(conn, table_name, data, parameter_set, res)
conn.commit()
conn.close()

In [10]:
# Function to find the last record in the table
def find_last_record(conn, table_name):
    query = f"""
    SELECT lon, lat, depth, time_period 
    FROM {table_name} 
    ORDER BY depth DESC, time_period DESC, lat DESC, lon DESC 
    LIMIT 1;
    """
    with conn.cursor() as cur:
        cur.execute(query)
        result = cur.fetchone()
    if result:
        print("Find last record: ", result)
        return {
            'lon': result[0],
            'lat': result[1],
            'depth': result[2],
            'time_period': result[3]
        }
    return None

In [ ]:
# Continue from the last record
RecoveryFromLastRecord = True
if RecoveryFromLastRecord:
    for depth_idx, depth in enumerate(data["depth"].data):
        for time_idx, time_period_value in enumerate(data["time_periods"].data):
            for lat_idx, lat in enumerate(data["lat"].data):
                for lon_idx, lon in enumerate(data["lon"].data):
                    # Check if this record should be skipped
                    if last_record:
                        if (
                            depth < last_record["depth"]
                            or (
                                depth == last_record["depth"]
                                and time_period_value < last_record["time_period"]
                            )
                            or (
                                depth == last_record["depth"]
                                and time_period_value == last_record["time_period"]
                                and lat < last_record["lat"]
                            )
                            or (
                                depth == last_record["depth"]
                                and time_period_value == last_record["time_period"]
                                and lat == last_record["lat"]
                                and lon <= last_record["lon"]
                            )
                        ):
                            continue
                        last_record = None  # Start processing from here once we pass the last record

                    # Insert the data into the database
                    insert_into_postgis(conn, table_name, data, parameter_set, res)

In [ ]:
# Update your main loop to continue from the last record
# conn = connect_db(db_settings)
# grid_db = {'01': 'grd1', '04': 'grd025'}
# grid_dir = {'01': '1_degree', '04': '025_degree'}

for res in grids:
    for time_period in time_periods:
        for par in pars:
            table_name = f"{grid_db[res]}_{time_period}_{par}"
            last_record = find_last_record(conn, table_name)
            
            # Determine the parameter set
            if res == '04' or par == 'TS':
                parameter_set = ['temperature', 'salinity']
            elif par == 'Oxy':
                parameter_set = ['oxygen', 'o2sat', 'AOU']
            else:
                parameter_set = ['silicate', 'phosphate', 'nitrate']

            data = xr.open_zarr(zarr_store_path, consolidated=False)
            for depth_idx, depth in enumerate(data['depth'].data):
                for time_idx, time_period_value in enumerate(data['time_periods'].data):
                    for lat_idx, lat in enumerate(data['lat'].data):
                        for lon_idx, lon in enumerate(data['lon'].data):
                            # Check if this record should be skipped
                            if last_record:
                                if (depth < last_record['depth'] or
                                    (depth == last_record['depth'] and time_period_value < last_record['time_period']) or
                                    (depth == last_record['depth'] and time_period_value == last_record['time_period'] and lat < last_record['lat']) or
                                    (depth == last_record['depth'] and time_period_value == last_record['time_period'] and lat == last_record['lat'] and lon <= last_record['lon'])):
                                    continue
                                last_record = None  # Start processing from here once we pass the last record
                            
                            # Insert the data into the database
                            insert_into_postgis(conn, table_name, data, parameter_set, res)

conn.commit()
conn.close()

In [11]:
# select count(*) from grd025_annual_ts;
dt1 = [35440693]
# select count(*) from grd025_monthly_ts;
dt1.append(141700649)
# select count(*) from grd025_seasonal_ts;
dt1.append(94845824)
# select count(*) from grd1_annual_ts;
dt1.append(2821725)
# select count(*) from grd1_monthly_ts;
dt1.append(22226594)
# select count(*) from grd1_seasonal_ts;
dt1.append(9842721)
# select count(*) from grd1_annual_oxy;
dt1.append(2048066)
# select count(*) from grd1_monthly_oxy;
dt1.append(6405112)
# select count(*) from grd1_seasonal_oxy;
dt1.append(3844217)
# select count(*) from grd1_annual_nutrients;
dt1.append(1333093)
# select count(*) from grd1_monthly_nutrients;
dt1.append(2202256)
# select count(*) from grd1_seasonal_nutrients;
dt1.append(1552181)
print(dt1)
sum(dt1)

[35440693, 141700649, 94845824, 2821725, 22226594, 9842721, 2048066, 6405112, 3844217, 1333093, 2202256, 1552181]

324263131

In [ ]:
conn.close()